* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content {
    display: flex;
    color: #fff;
    width: 100%;
    box-shadow: 10px 10px 20px #000;
    padding: 3em;
    background: linear-gradient(90deg, #90EE90, #3d3d3d);
    
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    border-bottom: 3px double #fff;
}

#imgRegister {
    cursor: pointer;
}

.box-content-login1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    margin-right: 0.2em;
    box-shadow: 2px 10px 20px #000;
    transition: 1s;
}

.box-content-login1:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: 1s;
}

.box-content-login2 {
    display: flex;
    flex: 50%;
    color: #fff;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    border-radius: 10px;
    margin-left: 0.2em;
    box-shadow: 2px 10px 20px #000;
    transition: 1s;
}

.box-content-login2:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transition: 1s;
}

fieldset {
    padding: 0.5em;
    border: 3px double #90EE90;
    border-radius: 3%;
}

fieldset legend {
    text-align: center;
    font-size: 1.5em;
}

.inputBox {
    position: relative;
    padding: 1em;
}

.inputUser {
    color: #fff;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    font-size: 1em;
    letter-spacing: 1px;
    width: 100%;

}

.labelInput {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: 0.5s;
}

.inputUser:focus ~ .labelInput, .inputUser:valid ~ .labelInput{
    top: -10px;
    font-size: 0.7em;
    color: #90EE90;
    border-bottom: 2px;
}

#dateOfBirth {
    border: none;
    padding: 0.5em;
    outline: none;
    font-size: 1em;
    border-radius: 10px;
}

#btnSubmit {
    width: 100%;
    padding: 1em;
    background: linear-gradient(to right, #fff, #000000);
    color: #fff;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
}

#btnSubmit:hover {
    background: linear-gradient(90deg, #90EE90, #000000);
}



/* RESPONSIVO */

@media (max-width: 576px) {
    .content {
        flex-direction: column;
        padding: 2em;
    }

    h1 {
        font-size: 2em;
    }

    .box-content-login1 {
        margin-right: 0;
    }

    #imgRegister {
        height: 4.5em;
    }

    .box-content-login2 {
        margin-left: 0;
    }
}


@media (max-width: 992px) {
    .content {
        flex-direction: column;
        padding: 2em;
    }

    .box-content-login1 {
        margin-right: 0;
        height: 1em;
    }

    .box-content-login2 {
        margin-left: 0;
    }
}
